<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518492513482-6fbq4avfvvo4mllq02biq4sq601r9mdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518492513482-6fbq4avfvvo4mllq02biq4sq601r9mdv</string>
	<key>API_KEY</key>
	<string>AIzaSyBTAjeMcYIe08y5G2CsyxoJNsZ97GU3JZg</string>
	<key>GCM_SENDER_ID</key>
	<string>518492513482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rony.Mesh</string>
	<key>PROJECT_ID</key>
	<string>mesh-b8305</string>
	<key>STORAGE_BUCKET</key>
	<string>mesh-b8305.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518492513482:ios:c962a6c0b947c3ec284033</string>
</dict>
</plist>